In [30]:
# Import Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.cluster.hierarchy as sch
from sklearn.cluster import AgglomerativeClustering

In [29]:
pip install xlrd

Requirement already satisfied: xlrd in c:\users\sanvi\anaconda3\lib\site-packages (2.0.1)Note: you may need to restart the kernel to use updated packages.

In [43]:
ls

 Volume in drive C has no label.
 Volume Serial Number is B841-0E2D

 Directory of C:\Users\SANVI\Documents\ExelR Assignment\Clustering

02-05-2022  09.31 AM    <DIR>          .
02-05-2022  09.31 AM    <DIR>          ..
01-05-2022  09.35 AM    <DIR>          .ipynb_checkpoints
02-05-2022  09.31 AM            17,874 clustering_airlines.ipynb
01-05-2022  10.18 AM           152,319 clustering_crime.ipynb
20-04-2022  09.39 PM             1,328 crime_data.csv
20-04-2022  09.39 PM           268,963 EastWestAirlines.xlsx
20-04-2022  09.39 PM             1,560 Problem_Statement(Airlines).txt
20-04-2022  09.39 PM               389 ProblemSatement(crime_data).txt
               6 File(s)        442,433 bytes
               3 Dir(s)  101,665,153,024 bytes free

In [56]:
airline_sheet_index = pd.read_excel('EastWestAirlines.xlsx', sheet_name = 1)
print(airline_sheet_index)

       ID#  Balance  Qual_miles  cc1_miles  cc2_miles  cc3_miles  Bonus_miles  \
0        1    28143           0          1          1          1          174
1        2    19244           0          1          1          1          215
2        3    41354           0          1          1          1         4123
3        4    14776           0          1          1          1          500
4        5    97752           0          4          1          1        43300
...    ...      ...         ...        ...        ...        ...          ...
3994  4017    18476           0          1          1          1         8525
3995  4018    64385           0          1          1          1          981
3996  4019    73597           0          3          1          1        25447
3997  4020    54899           0          1          1          1          500
3998  4021     3016           0          1          1          1            0

      Bonus_trans  Flight_miles_12mo  Flight_trans_12  Days_since_enroll  \
0               1                  0                0               7000
1               2                  0                0               6968
2               4                  0                0               7034
3               1                  0                0               6952
4              26               2077                4               6935
...           ...                ...              ...                ...
3994            4                200                1               1403
3995            5                  0                0               1395
3996            8                  0                0               1402
3997            1                500                1               1401
3998            0                  0                0               1398

      Award?
0          0
1          0
2          0
3          0
4          1
...      ...
3994       1
3995       1
3996       1
3997       0
3998       0

[3999 rows x 12 columns]

In [67]:
# Column rename.

dataset= airline.rename(columns={'ID#':'ID', 'Award?':'Award'})

In [78]:
# Normalize heterogenous numerical data using z-score (x-mean/std) or custom defined function 
# Normalization function - here custom defined
def norm_func(i):
    x = (i-i.min())/(i.max()-i.min())
    return (x)

In [85]:
# Normalized data frame (considering the numerical part of data)
airline1_norm = norm_func(airline)
airline1_norm

,East-West Airlines is trying to learn more about its customers. Key issues are their,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,NaN

In [86]:
# Create Dendrograms
plt.figure(figsize=(10, 7))  
dendograms=sch.dendrogram(sch.linkage(airline1_norm,'complete'))

ValueError: The condensed distance matrix must contain only finite values.