In [1]:
#import the libraries
%matplotlib inline
import numpy as np
import scipy as sp
import pandas as pd
import statsmodels.api as sm
import statsmodels.formula.api as smf
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
from statsmodels.stats.proportion import proportions_ztest

In [6]:
ls

 Volume in drive C has no label.
 Volume Serial Number is B841-0E2D

 Directory of C:\Users\SANVI\Documents\ExelR Assignment\Hypothesis

26-04-2022  09.34 PM    <DIR>          .
26-04-2022  09.34 PM    <DIR>          ..
26-04-2022  09.33 PM    <DIR>          .ipynb_checkpoints
02-04-2022  09.26 PM                87 BuyerRatio.csv
02-04-2022  09.26 PM            13,423 Costomer+OrderForm.csv
02-04-2022  09.26 PM               525 Cutlets.csv
26-04-2022  08.44 PM            51,115 hypo_Q1.ipynb
26-04-2022  09.13 PM            66,229 hypo_Q2.ipynb
26-04-2022  09.32 PM            59,769 Hypo_Q3.ipynb
26-04-2022  09.34 PM             3,828 Hypo_Q4.ipynb
02-04-2022  09.26 PM            61,688 Hypothesis_Testing_Assignment.pptx
02-04-2022  09.26 PM             3,487 LabTAT.csv
               9 File(s)        260,151 bytes
               3 Dir(s)  106,353,102,848 bytes free

In [7]:
Customer = pd.read_csv('Costomer+OrderForm.csv')
Customer.head()

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free

In [8]:
Customer.describe()

       Phillippines   Indonesia       Malta       India
count           300         300         300         300
unique            2           2           2           2
top      Error Free  Error Free  Error Free  Error Free
freq            271         267         269         280

In [9]:
Phillippines_value=Customer['Phillippines'].value_counts()
Indonesia_value=Customer['Indonesia'].value_counts()
Malta_value=Customer['Malta'].value_counts()
India_value=Customer['India'].value_counts()
print(Phillippines_value)
print(Indonesia_value)
print(Malta_value)
print(India_value)

Error Free    271
Defective      29
Name: Phillippines, dtype: int64
Error Free    267
Defective      33
Name: Indonesia, dtype: int64
Error Free    269
Defective      31
Name: Malta, dtype: int64
Error Free    280
Defective      20
Name: India, dtype: int64

In [11]:
chiStats = sp.stats.chi2_contingency([[271,267,269,280],[29,33,31,20]])
print('Test t=%f p-value=%f' % (chiStats[0], chiStats[1]))
print('Interpret by p-Value')

Test t=3.858961 p-value=0.277102
Interpret by p-Value

In [12]:
if chiStats[1] < 0.05:
  print('we reject null hypothesis')
else:
  print('we accept null hypothesis')

we accept null hypothesis

In [13]:
#critical value = 0.1
alpha = 0.05
critical_value = sp.stats.chi2.ppf(q = 1 - alpha,df=chiStats[2])
observed_chi_val = chiStats[0]
print('Interpret by critical value')
if observed_chi_val <= critical_value:
       print ('Null hypothesis cannot be rejected (variables are not related)')
else:
       print ('Null hypothesis cannot be excepted (variables are not independent)')

Interpret by critical value
Null hypothesis cannot be rejected (variables are not related)

Inference is that proportion of defective % across the center is same.