In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
ls

 Volume in drive D is New Volume
 Volume Serial Number is 8A93-4196

 Directory of D:\Dev_Jatin\DataScience\ds-assignment\SVM

05-05-2022  08:22 PM    <DIR>          .
05-05-2022  04:26 PM    <DIR>          ..
05-05-2022  08:22 PM    <DIR>          .ipynb_checkpoints
05-05-2022  04:26 PM               549 forest fires.txt
05-05-2022  04:26 PM            46,843 forestfires.csv
05-05-2022  04:26 PM               625 Problem_statement(salary_data).txt
05-05-2022  04:26 PM         1,694,474 SalaryData_Test(1).csv
05-05-2022  04:26 PM         3,393,618 SalaryData_Train(1).csv
05-05-2022  08:22 PM                72 svm_forest_fires.ipynb
05-05-2022  06:21 PM            27,034 svm_salary_data.ipynb
               7 File(s)      5,163,215 bytes
               3 Dir(s)  191,853,404,160 bytes free

In [3]:
fire = pd.read_csv("forestfires.csv")
fire.head()

,month,day,FFMC,DMC,DC,ISI,temp,RH,wind,rain,...,monthfeb,monthjan,monthjul,monthjun,monthmar,monthmay,monthnov,monthoct,monthsep,size_category
0,mar,fri,86.2,26.2,94.3,5.1,8.2,51,6.7,0.0,...,0,0,0,0,1,0,0,0,0,small
1,oct,tue,90.6,35.4,669.1,6.7,18.0,33,0.9,0.0,...,0,0,0,0,0,0,0,1,0,small
2,oct,sat,90.6,43.7,686.9,6.7,14.6,33,1.3,0.0,...,0,0,0,0,0,0,0,1,0,small
3,mar,fri,91.7,33.3,77.5,9.0,8.3,97,4.0,0.2,...,0,0,0,0,1,0,0,0,0,small
4,mar,sun,89.3,51.3,102.2,9.6,11.4,99,1.8,0.0,...,0,0,0,0,1,0,0,0,0,small

In [4]:
string_col = ['month','day','size_category']

In [6]:
# To convert string column to numeric
from sklearn import preprocessing
label_encoder=preprocessing.LabelEncoder()
for i in string_col:
    fire[i] = label_encoder.fit_transform(fire[i])

In [7]:
fire.head()

,month,day,FFMC,DMC,DC,ISI,temp,RH,wind,rain,...,monthfeb,monthjan,monthjul,monthjun,monthmar,monthmay,monthnov,monthoct,monthsep,size_category
0,7,0,86.2,26.2,94.3,5.1,8.2,51,6.7,0.0,...,0,0,0,0,1,0,0,0,0,1
1,10,5,90.6,35.4,669.1,6.7,18.0,33,0.9,0.0,...,0,0,0,0,0,0,0,1,0,1
2,10,2,90.6,43.7,686.9,6.7,14.6,33,1.3,0.0,...,0,0,0,0,0,0,0,1,0,1
3,7,0,91.7,33.3,77.5,9.0,8.3,97,4.0,0.2,...,0,0,0,0,1,0,0,0,0,1
4,7,3,89.3,51.3,102.2,9.6,11.4,99,1.8,0.0,...,0,0,0,0,1,0,0,0,0,1

In [9]:
X = fire.iloc[:,:10]
X.head()

   month  day  FFMC   DMC     DC  ISI  temp  RH  wind  rain
0      7    0  86.2  26.2   94.3  5.1   8.2  51   6.7   0.0
1     10    5  90.6  35.4  669.1  6.7  18.0  33   0.9   0.0
2     10    2  90.6  43.7  686.9  6.7  14.6  33   1.3   0.0
3      7    0  91.7  33.3   77.5  9.0   8.3  97   4.0   0.2
4      7    3  89.3  51.3  102.2  9.6  11.4  99   1.8   0.0

In [10]:
y = fire["size_category"]
y.head()

0    1
1    1
2    1
3    1
4    1
Name: size_category, dtype: int32

In [12]:
# SVM Classification using kernels: linear, poly, rbf
from sklearn.svm import SVC
from sklearn import metrics
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.model_selection import train_test_split, cross_val_score

In [13]:
# Split the Data intp Training Data and Test Data
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.3)

In [24]:
#  Using Kernel as linear type

model_linear = SVC(kernel='linear')
model_linear.fit(X_train, y_train)
train_pred_lin = model_linear.predict(X_train)
test_pred_lin = model_linear.predict(X_test)

metrics.accuracy_score(y_test, model_linear.predict(X_test))

0.6923076923076923

In [20]:
confusion_matrix(y_test, model_linear.predict(X_test))

array([[  0,  48],
       [  0, 108]], dtype=int64)

In [25]:
#  Using Kernel as poly type

model_poly = SVC(kernel='poly')
model_poly.fit(X_train, y_train)
train_pred_poly = model_poly.predict(X_train)
test_pred_poly = model_poly.predict(X_test)

metrics.accuracy_score(y_test, model_poly.predict(X_test))

0.6923076923076923

In [33]:
#  Using Kernel as rbf type

model_rbf = SVC(kernel='rbf')
model_rbf.fit(X_train, y_train)
train_pred_rbf = model_rbf.predict(X_train)
test_pred_rbf = model_rbf.predict(X_test)

metrics.accuracy_score(y_test, model_rbf.predict(X_test))

0.6923076923076923

In [36]:
#  Using Kernel as sigmoid type

model_sig = SVC(kernel='sigmoid')
model_sig.fit(X_train, y_train)
train_pred_sig = model_sig.predict(X_train)
test_pred_sig = model_sig.predict(X_test)

metrics.accuracy_score(y_test, model_sig.predict(X_test))

0.6858974358974359