In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
ls

 Volume in drive D is New Volume
 Volume Serial Number is 8A93-4196

 Directory of D:\Dev_Jatin\DataScience\ds-assignment\SVM

05-05-2022  05:21 PM    <DIR>          .
05-05-2022  04:26 PM    <DIR>          ..
05-05-2022  05:21 PM    <DIR>          .ipynb_checkpoints
05-05-2022  04:26 PM               549 forest fires.txt
05-05-2022  04:26 PM            46,843 forestfires.csv
05-05-2022  04:26 PM               625 Problem_statement(salary_data).txt
05-05-2022  04:26 PM         1,694,474 SalaryData_Test(1).csv
05-05-2022  04:26 PM         3,393,618 SalaryData_Train(1).csv
05-05-2022  05:21 PM                72 svm_salary_data.ipynb
               6 File(s)      5,136,181 bytes
               3 Dir(s)  191,853,432,832 bytes free

In [34]:
salary_train = pd.read_csv('SalaryData_Train(1).csv')
salary_test = pd.read_csv('SalaryData_Test(1).csv')

In [35]:
salary_train

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30156,27,Private,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
30157,40,Private,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
30158,58,Private,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
30159,22,Private,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
30160,52,Self-emp-inc,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [36]:
string_col=['workclass','education','maritalstatus','occupation','relationship','race','sex','native']

In [37]:
# To convert string column to numeric
from sklearn import preprocessing
label_encoder=preprocessing.LabelEncoder()
for i in string_col:
    sal_train[i]=label_encoder.fit_transform(sal_train[i])
    sal_test[i]=label_encoder.fit_transform(sal_test[i])

In [38]:
columns=list(train.columns)
train_x=sal_train.iloc[0:500,0:13]
train_y=sal_train.iloc[0:500,13]
test_x=sal_test.iloc[0:300,0:13]
test_y=sal_test.iloc[0:300,13]

In [39]:
columns

['age',
 'workclass',
 'education',
 'educationno',
 'maritalstatus',
 'occupation',
 'relationship',
 'race',
 'sex',
 'capitalgain',
 'capitalloss',
 'hoursperweek',
 'native',
 'Salary']

In [40]:
train_x

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native
0,39,5,9,13,4,0,1,4,1,2174,0,40,37
1,50,4,9,13,2,3,0,4,1,0,0,13,37
2,38,2,11,9,0,5,1,4,1,0,0,40,37
3,53,2,1,7,2,5,0,2,1,0,0,40,37
4,28,2,9,13,2,9,5,2,0,0,0,40,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,31,3,9,13,4,4,1,4,0,0,0,45,37
496,44,2,15,10,2,13,0,4,1,0,0,40,37
497,29,2,10,16,4,9,3,4,1,0,0,40,37
498,30,2,15,10,4,5,4,4,0,0,0,40,37
499,27,2,11,9,4,13,1,4,1,0,0,40,37

In [46]:
# SVM Classification using kernels: linear, poly, rbf
from sklearn.svm import SVC
from sklearn import metrics

In [42]:
#  Using Kernel as linear type

model_linear=SVC(kernel='linear')
model_linear.fit(train_x,train_y)
train_pred_lin=model_linear.predict(train_x)
test_pred_lin=model_linear.predict(test_x)
train_lin_acc=np.mean(train_pred_lin==train_y)
test_lin_acc=np.mean(test_pred_lin==test_y)

In [43]:
train_lin_acc

0.818

In [44]:
test_lin_acc

0.8166666666666667

In [48]:
metrics.accuracy_score(test_y, model_linear.predict(test_x))

0.8166666666666667

In [26]:
# Using Kernel as rbf type

model_rbf=SVC(kernel='rbf')
model_rbf.fit(train_x,train_y)
train_pred_rbf=model_rbf.predict(train_x)
test_pred_rbf=model_rbf.predict(test_x)
train_rbf_acc=np.mean(train_pred_rbf==train_y)
test_rbf_acc=np.mean(test_pred_rbf==test_y)

In [28]:
train_rbf_acc

0.812

In [29]:
test_rbf_acc

0.8033333333333333

In [30]:
# Using Kernel as poly type

model_poly=SVC(kernel='poly')
model_poly.fit(train_x,train_y)
train_pred_poly=model_poly.predict(train_x)
test_pred_poly=model_poly.predict(test_x)
train_poly_acc=np.mean(train_pred_poly==train_y)
test_poly_acc=np.mean(test_pred_poly==test_y)

In [31]:
train_poly_acc

0.812

In [32]:
test_poly_acc

0.8033333333333333